# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\C++ code with Clion\Group Porject\TriangleFamily\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
